

.container{
    width: 1200px;
    background: rgb(202, 200, 200);
    margin: 0 auto !important;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;

}

.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin: 20px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    font-weight: 700;
}
.counter{
    font-size: 25px;
}

.btn-red{
    background-color: rgb(175, 38, 38);
    color: rgb(255, 255, 255);
}
.btn-green{
    background-color: rgb(2, 138, 2);
    color: white;
}

.btn-org{
    background-color: rgb(226, 226, 0);
    color: rgb(255, 255, 255);;
}
